@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: var('#E71744');
    --shiki-token-string: var('#E71744');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: var('#E71744');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  html {
    overflow-y: scroll;
  }

  .arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(137deg, #111214 5%, #0c0d0f 76%);
    border-top: 1px solid hsla(0, 0%, 100%, 0.06);
    border-right: 1px solid hsla(0, 0%, 100%, 0.06);
    border-left: 1px solid hsla(0, 0%, 100%, 0.06);
    border-radius: 86px;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
    transition: background 0.3s ease;
  }
  
  .arrowBtn:hover {
    background: linear-gradient(137deg, #222 5%, #1a1b1c 76%);
  }

  ::selection {
    background-color: #ff2c5d; 
    color: #FFFFFF; 
  }

  ::-moz-selection {
    background-color: #ff2c5d; 
    color: #FFFFFF;
  }

  .backdrop {
    @apply absolute filter blur-[20px] transform-gpu;
    inset: -60px -70px;
  }

  .backdrop::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1; 
    clip-path: polygon(
      0 0,
      50% 14%,
      100% 0,
      92% 50%,
      100% 100%,
      50% 86%,
      0 100%,
      8% 50%
    );
    
    background: radial-gradient(
        40% 147% at 50% 46.2%,
        hsla(0, 100%, 73%, 0.2) 5%,
        rgba(154, 170, 255, 0.11) 60%,
        hsla(0, 100%, 88%, 0) 140%
      );
  }
  

  
}

@tailwind base;
@tailwind components;
@tailwind utilities;
